.container
	html
body
	#header
		#header_content
			.col-md-4
			.col-md-4
				a(href='http://localhost:83/#articles')
					strong HOME
				a(href='')
					strong ABOUT
				a(href='http://localhost:83/#blog')
					strong ADD ARTICLE
			.col-md-4
	// header line
	#header_line
		hr.line
	// header image
	#header_image
		img#image(src='./img/1.png')
	// header image line
	#header_image_line
		hr.line

